<ion-header>
  <ion-toolbar color="secondary">
    <ion-title text-center>JERSEY GALERY</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding has-header" padding>
	<ion-list>
		<ion-item class="item item-avatar">
			<img src="../assets/img/emyu.jpg">
			<ion-label >   Manchester United</ion-label>
		</ion-item><p></p>
		<ion-item class="item item-avatar">
			<img src="../assets/img/celsi.jpg">
			<ion-label >   Chelsea</ion-label>
		</ion-item><p></p>
		<ion-item class="item item-avatar">
			<img src="../assets/img/barcel.jpg">
			<ion-label >   Barcelona</ion-label>
		</ion-item><p></p>
		<ion-item class="item item-avatar">
			<img src="../assets/img/juve.jpg">
			<ion-label >   Juventus</ion-label>
		</ion-item><p></p>
		<ion-item class="item item-avatar">
			<img src="../assets/img/livpol.jpg">
			<ion-label >   Liverpool</ion-label>
		</ion-item><p></p>
		<ion-item class="item item-avatar">
			<img src="../assets/img/madred.jpg">
			<ion-label >   Real Madrid</ion-label>
		</ion-item><p></p>
	</ion-list>
</ion-content>
