<ion-header>
  <ion-toolbar>
    <ion-title>
      Richi Jersey
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/logo.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Jersey Info</ion-card-subtitle>
        <ion-card-title>Selamat Datang Di Richi Jersey</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Disini anda akan menemukan update info galeri tentang jersey klub favorit kamu, dijamin bukan kualitas bekas tapi edisi terbatas</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Awal Musim</ion-label>
      </ion-list-header>
      <ion-item href="#">
        <ion-icon slot="start" color="medium" name="logo-euro"></ion-icon>
        <ion-label>Lelang Jersey</ion-label>
      </ion-item>
      <ion-item href="#">
        <ion-icon slot="start" color="medium" name="walk"></ion-icon>
        <ion-label>Jersey Training</ion-label>
      </ion-item>
      <ion-item href="#">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Perlengkapan Futsal</ion-label>
      </ion-item>
      <ion-item href="#">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Desain Jersey</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
