<ion-header>
  <ion-toolbar>
    <ion-title>LOGIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-card>
		
		<ion-card-header>
		Mau beli?? Masuk dulu dong..
		</ion-card-header>
		
		
		<ion-card-content>
			<form>
				<ion-list>
					<ion-item>
						<ion-label>USERNAME :</ion-label>
						<ion-input type="text"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label>PASSWORD :</ion-label>
						<ion-input type="password"></ion-input>
					</ion-item>
					<ion-item>
						<ion-button>LOGIN</ion-button>
					</ion-item>
				</ion-list>
			</form>
		</ion-card-content>
	</ion-card>

	</ion-content>
